img {
	height: 200px;
}

.productImage {
	vertical-align: top;
	display: inline-block;
	/* To horizontally center images and caption */
	text-align: center;
	/* The width of the container also implies margin around the images. */
	width: 30%;
	margin-left: calc(10%/6);
	margin-top: 5%;
}

.caption {
	display: block;
	padding-top: 1%;
}

.jumbotron {
	text-align: center;
	color: #232527;
	background: ##18474f !important;
}

body {
	background: #343a40 !important;
	font-family: 'Roboto', sans-serif !important;
	color: #eef2f3 !important;
}
